@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WFHMicrositeMaintenance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WFHMicrositeMaintenance</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Name() != "")
                    {
                        <p class="nav navbar-text navbar-right">Hello, @User.Name()!</p>
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInGroup("APPS_FULL") || User.IsInGroup("WFH_ADMIN"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        }
                        @if (User.IsInGroup("APPS_FULL") || User.IsInGroup("WFH_ADMIN") || User.IsInGroup("WFH_USER"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        }
                        @if (User.IsInGroup("APPS_FULL") || User.IsInGroup("WFH_ADMIN") || User.IsInGroup("WFH_PROD"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Production" asp-action="Index">Production</a>
                        </li>
                        }
                        @if (User.IsInGroup("APPS_FULL") || User.IsInGroup("WFH_ADMIN") || User.IsInGroup("WFH_SHIP"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shipping" asp-action="Index">Shipping</a>
                        </li>
                        }
                        @if (User.IsInGroup("APPS_FULL") || User.IsInGroup("WFH_ADMIN") || User.IsInGroup("WFH_WRNTY"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Warranty" asp-action="Index">Warranty</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            @if (Configuration["ConnectionStrings:MicrositeDatabase"].ToLower().Contains("allrs"))
            {
                @Html.Raw("<strong>LIVE</strong>&nbsp;")
            }
            else
            {
                @Html.Raw("<strong>TEST</strong>&nbsp;")
            }
            &copy; 2020 - Allseating Corporation. All Rights Reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
