@model IEnumerable<WFHMicrositeMaintenance.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>Users</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="index">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emailed)
                </td>
                <td>
                    @if (item.Shipped == null)
                    {
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>  @Html.Raw("|")
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a>  @Html.Raw("|")
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>  @Html.Raw("|")
                    <a asp-action="Emails" asp-route-id="@item.UserId">Email</a>
                    @if (User.Name() == "Ben" || User.Name() == "Dilanth" || User.Name() == "Shubreet")
                        {
                    <a asp-action="Selections" asp-route-id="@item.UserId"> | Selections</a>
                        }
                    @if (User.Name() == "Ben" || User.Name() == "Dilanth")
                        {
                    <a asp-action="ResetProd" asp-route-id="@item.UserId"> | Reset Prod</a>
                    <a asp-action="ResetShip" asp-route-id="@item.UserId"> | Reset Ship</a>
                        }
                    }
                    else
                    {
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a>  @Html.Raw("|")
                    <a asp-action="Emails" asp-route-id="@item.UserId">Email</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#index').DataTable({
                "stateSave": true,
                "columnDefs": [{ "targets": 3, "orderable": false }]
            });
        });
    </script>
}
